<!DOCTYPE html>
<html ng-app="website">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Arazul Capital - Processo Seletivo Opus
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="style/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="style/style.css" />

    <script src="js/main.js"></script>
</head>

<body ng-controller="MainCtrl">
    <header>
        <div id='header-wrapper'>
            <a class="site-logo" href="#">
                <img title="site-logo" src="img/1.Arazul_logo.png">
            </a>
            <nav id='top-icons'>
                <ul id='top-menu'>
                    <li>
                        <a href="#">Institucional</a>
                    </li>
                    <li>
                        <a href="#">Downloads</a>
                    </li>
                    <li>
                        <a class="menu-button" href="#">Encontre-nos</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <nav id='main-menu-nav'>
        <div id='main-menu-wrapper'>
            <ul id='main-menu'>
                <li>
                    <a href="#">Gestora de Recursos</a>
                </li>
                <li>
                    <a href="#">Mercado de Capitais</a>
                </li>
                <li>
                    <a href="#">Distribuição</a>
                </li>
                <li>
                    <a href="#">Wealth Management</a>
                </li>
                <li>
                    <a href="#">Administradora de Recursos</a>
                </li>
                <li>
                    <a href="#">Corporate Project Finance</a>
                </li>
            </ul>
        </div>
    </nav>
    <section id='main-image'>
        <img id='main-img' src='img/1.Arazul_topImage.png' width="">
        <a id='down-button'>
            <img src="img/bt_down.png">
        </a>
    </section>
    <main>
        <div id='main-wrapper'>

            <section id='main-content'>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                <div id='main-text'>
                    <p>

                        <b>Arazul Capital</b> é uma plataforma múltipla, com foco em operações estruturadas em crédito e financiamento,
                        assessoria financeira e asset management. A companhia, que conta com forte atuação nos mercados de
                        empresas de middle market no Brasil, faz parte do grupo financeiro
                        <b>Arazul S/A</b>, que possui cerca de 100 funcionários e escritorios na Bahia, São Paulo, rio de Janeiro,
                        Pernambuco, Rio Grande do Sul e nova York. </p>
                </div>
                <div id='text-blocks'>
                    <div class="info-block left-block">
                        <p>
                            <i class="material-icons">keyboard_arrow_right</i> Nosso objetivo é prover serviços e produtos customizados e eficientes,
                            primando pela conveniência aos nossos cliente,s parceiros e investidores dentro do mercado financeiro
                            e de capitais.ç Somos reconhecidos pela capacidade de distribuir produtos de todas as nossas
                            áreas de atuação no atacado e no varejo.</p>
                    </div>
                    <div class="info-block right-block">
                        <p>
                            <i class="material-icons">keyboard_arrow_right</i> Acreditamos fortemente nos mercados emergentes* do Brasil e investimos
                            no relacionamento de longo prazo com seus clientes e o estabelecimento de uma cultura interna
                            meritocŕatica, ética e baseada em alta performance, que norteiam os caminhos estratégicos que
                            perseguimos.
                        </p>
                    </div>

                </div>
            </section>
        </div>
    </main>
    <section id='main-slideshow'>
        <div id='slideshow-wrapper'>

            <!-- <div class="container slider"> -->
            <div class="slider">
                <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage" ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                    ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

                <div ng-repeat="slide in slides" class="textbox  nonDraggableImage" ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                    ng-hide="!isCurrentSlideIndex($index)">
                    <h3 class="textbox-h3">{{slide.header}}</h3>
                    <h4 class="textbox-h4">{{slide.subheader}}</h4>
                    <p class='textbox-p'>{{slide.description}}</p>
                    <a class="textbox-a menu-button" href="{{slide.link}}">LEIA MAIS</a>
                </div>

                <a class="arrow prev" href="#" ng-click="nextSlide($event)"></a>
                <a class="arrow next" href="#" ng-click="prevSlide($event)"></a>
                <nav class="nav">
                    <div class="wrapper">
                        <ul class="dots">
                            <li class="dot" ng-repeat="slide in slides">
                                <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index, $event);">{{slide.description}}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>

            <script src="js/app.js"></script>
        </div>
    </section>
    <footer>
        <div id='footer-wrapper'>
            <div id='footer-icon'>
                <a href='#'>
                    <img src="img/1.Arazul_logo.png" title='logo'>
                </a>
            </div>
            <nav id="footer-buttons-nav">
                <ul id='footer-buttons'>
                    <li>
                        <a href='#' class="menu-button">INSTITUCIONAL</a>
                    </li>
                    <li>
                        <a href='#' class="menu-button">DOWNLOADS</a>
                    </li>
                    <li>
                        <a href='#' class="menu-button">ENCONTRE-NOS</a>
                    </li>
                </ul>
            </nav>
            <nav id='footer-menu-nav-1'>
                <ul class='footer-menu'>
                    <li>
                        <a href="#">Wealth Management</a>
                    </li>
                    <li>
                        <a href="#">Administradora de Recursos</a>
                    </li>
                    <li>
                        <a href="#">Corporate Project Finance</a>
                    </li>
                </ul>
            </nav>
            <nav id='footer-menu-nav-2'>
                <ul class='footer-menu'>
                    <li>
                        <a href="#">Gestora de Recursos</a>
                    </li>
                    <li>
                        <a href="#">Mercado de Capitais</a>
                    </li>
                    <li>
                        <a href="#">Distribuição</a>
                    </li>
                </ul>
            </nav>
            <div id='social-network-icons'>

                <a href="https://www.facebook.com" target="_blank">
                    <img src="img/facebook-logo.png" title="facebook">
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <img src="img/twitter-social-logotype.png" title="twitter">
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="img/instagram-social-network-logo-of-photo-camera.png" title="instagram">
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <img src="img/linkedin-logo.png" title="linkedin">
                </a>

            </div>
            <div id='footer-address'>
                <p>Av. Jucelino Kubitcschek, 1327. Edf. International Plaza II.
                    <br>
                    <span class='city'>Vila Nova Conceição, São Paulo</span>
                </p>
                <div>Icons made by
                    <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
                    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>